# client
CLIENT_PORT=4096

# core
DEBUG_MODE=1            # 0|1
NO_EXCEPT=1             # 0|1
CPP_STD=23           	# c++<standard>
OPTIMIZATION_LEVEL=3   	# 0 to 3; see https://emscripten.org/docs/optimizing/Optimizing-Code.html
MODULE_NAME=LoadModule
